<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <li routerLink="/Paises/pais" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
        class="list-group-item ">Buscar Pais</li>
    <li routerLink="/Paises/region" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
        class="list-group-item">Por Region</li>
    <li routerLink="/Paises/capital" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
        class="list-group-item">Por Capital</li>
</ul>