<div class="animate__animated animate__fadeIn">

  <h3>Buscar por region <small>{{regionActiva | titlecase}}</small></h3>
  <hr>

  <h5>Seleccione la region</h5>

  <div class="row">

    <div class="col">

      <!-- Aplicar una clase u otra dependiendo una condicion -->

      <!-- Opcion 1:  [class.btn-primary]="item === regionActiva" -->
      <!-- zopcion 2:  [ngClass]="{
            'btn-primary': item === regionActiva,
            'btn-outline-primary': item !== regionActiva
          }" -->

      <!-- opcion 3: [class]="(item === regionActiva) ? 'btn btn-primary' : 'btn btn-outline-primary'" -->
      <button [class]="getClasesCss(item)" *ngFor="let item of regiones" (click)="activarRegion(item)"
        [class.mr-1]=true>{{item | titlecase}}
      </button>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <app-pais-table [pais]="Paises"></app-pais-table>
    </div>
  </div>
</div>